.form {
  margin-top: 50px;
  text-align: center;
}

.form input {
  padding: 10px;
}


.form p {
  font-size: 1.5rem;
  color: blue;
}

.form input[type=reset]{
  background-color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
  color: white;
  margin-left: 10px;
}